.cards {
  height: 50rem;
  width: 30rem;
  align-items: center;
  margin-left: 30rem !important;
  margin-top: 5rem;
  position: fixed;
}

.typo {
  margin: 1rem !important;
}

.back {
  margin-top: 5rem;
  position: fixed;
}
